/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html { font-size: 100%; }
body { font-size: 62.5%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p { font-family: 'Open Sans', sans-serif; font-size: 22px; }

.ct { padding: 2em 5em 2em 5em; }
.ct--header {    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#333)); background-image: -webkit-linear-gradient(top, #000, #333); background-image:    -moz-linear-gradient(top, #000, #333); background-image:     -ms-linear-gradient(top, #000, #333); background-image:      -o-linear-gradient(top, #000, #333); border-bottom: solid 1px #999 }
.ct--main {    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#FFF)); background-image: -webkit-linear-gradient(top, #CCC, #FFF); background-image:    -moz-linear-gradient(top, #CCC, #FFF); background-image:     -ms-linear-gradient(top, #CCC, #FFF); background-image:      -o-linear-gradient(top, #CCC, #FFF) }
.ct__mainCt { min-height:1000px; }

.ct__input { border: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size: 4em; height: 1.5em; width: 80%; }
.ct__buttonSubmit { font-size: 2em; height:3em; width:6em; vertical-align: top; }
